{
    "presets": ["@babel/env", "@babel/preset-react"] 
    //@babel/preset-env is the default Babel preset used to transform ES6+ into valid ES5 code. Optionally configures browser polyfills automatically.
    //@babel/preset-react is used for transforming JSX and React class syntax into valid JavaScript code.
}
  